.responsive-text {
    font-size: 20px;
}

@media(max-width: 768px) {
    .responsive-text {
        font-size: 16px;
    }
}

@media(max-width: 480px) {
    .responsive-text {
        font-size: 12px;
    }
}