{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django 아이디어 관리 시스템{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <header>
        <nav>
            <div class="navBar">
                <div class="navBar-item"><a href="{% url 'idea_create'%}">아이디어 등록</a></div>
                <div class="navBar-item"><a href="{% url 'idea_list' %}">아이디어 관리</a></div>  
                <div class="navBar-item"><a href="{% url 'developtool_create'%}">개발툴 등록</a></div>
                <div class="navBar-item"><a href="{% url 'developtool_list' %}">개발툴 관리</a></div>
            </div>
        </nav>
    </header>
    
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
